body{
    background-color: rgb(255, 0, 200);
    color:beige;
    font-family: Arial, sans-serif;   
}

header{
    background-color: aqua;
    color:white;
    text-align: center;
    padding: 30px;
}

h1 {
    font-size: 36px;
}

