body{
    background-color: rgb(146, 28, 28);
    color:beige;
    font-family: Arial, sans-serif;   
}

header{
    background-color: rgb(120, 216, 223);
    color:white;
    text-align: center;
    padding: 30px;
}

h1 {
    font-size: 36px;
}

